openapi: 3.2.0
info:
  title: Relativity Billing Insights API
  x-relativity-api-visibility: public
  version: '1.0'
  description: 'Operations tagged BillingInsights across 2 of this provider''s published API definitions: relativity-billing-v1-openapi.yml, relativity-billing-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://billing-insights.api.relativity.one/billing-drilldown-api
  description: Production
- url: https://services.vaus.relativityone.us/billing-drilldown-api/
  description: Government
security:
- {}
tags:
- name: BillingInsights
paths:
  /api/v1/billing-insights/hierarchy-lookup/{level}:
    get:
      tags:
      - BillingInsights
      summary: Get artifact ids
      description: Get artifact ids for workspace, matter, client, instance that can be used for filtering billing users and month details data.
      parameters:
      - name: level
        in: path
        description: The hierarchy level
        required: true
        schema:
          enum:
          - Workspace
          - Matter
          - Client
          - Instance
          - Contract
          type: string
      - name: instanceId
        in: query
        description: The instance ID
        schema:
          type: string
      - name: shouldUnhashData
        in: query
        description: Specifies if the response should include unhashed data. Default value is false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetHierarchyLookupResponse'
              example:
                results:
                - name: Workspace A
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1002
                - name: Workspace C
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1003
                - name: Workspace D
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1004
                - name: Workspace A
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1002
                - name: Workspace X
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1003
                - name: Workspace Y
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 2005
            application/json:
              schema:
                $ref: '#/components/schemas/GetHierarchyLookupResponse'
              example:
                results:
                - name: Workspace A
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1002
                - name: Workspace C
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1003
                - name: Workspace D
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1004
                - name: Workspace A
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1002
                - name: Workspace X
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1003
                - name: Workspace Y
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 2005
            text/json:
              schema:
                $ref: '#/components/schemas/GetHierarchyLookupResponse'
              example:
                results:
                - name: Workspace A
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1002
                - name: Workspace C
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1003
                - name: Workspace D
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1004
                - name: Workspace A
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1002
                - name: Workspace X
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1003
                - name: Workspace Y
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 2005
      operationId: getApiV1BillingInsightsHierarchyLookupByLevel
      x-operation-id-source: derived
    servers:
    - url: https://billing-insights.api.relativity.one/billing-drilldown-api
      description: Production
    - url: https://services.vaus.relativityone.us/billing-drilldown-api/
      description: Government
  /api/v1/billing-insights/month-details:
    post:
      tags:
      - BillingInsights
      summary: Get monthly billing metrics
      description: Get monthly billing metrics at the specific level (Workspace, Matter, Client, Instance) for a given date. If the requested data does not exist then an empty list will be returned (e.g. instance didn't exist in a given month)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMonthDetailsRequest'
            examples:
              All workspaces for an instance:
                summary: Metrics for all workspaces in the instance for a given date
                value:
                  dateKey: '202105'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Workspace
                  shouldUnhashData: false
              Single workspace for an instance:
                summary: Metrics for single workspace
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2354352
                  level: Workspace
                  shouldUnhashData: false
              Top 10 results:
                summary: Paging
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Client
                  pagingRequest:
                    top: 10
                    skip: 0
                    includeCount: true
                  shouldUnhashData: false
              Order by:
                summary: Order by field (not applicable for if field was unhashed)
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Matter
                  order:
                    fieldName: PricedMetrics.Relativity_Storage_Review.BillableValue
                    direction: Desc
                  shouldUnhashData: false
          text/json:
            schema:
              $ref: '#/components/schemas/GetMonthDetailsRequest'
            examples:
              All workspaces for an instance:
                summary: Metrics for all workspaces in the instance for a given date
                value:
                  dateKey: '202105'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Workspace
                  shouldUnhashData: false
              Single workspace for an instance:
                summary: Metrics for single workspace
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2354352
                  level: Workspace
                  shouldUnhashData: false
              Top 10 results:
                summary: Paging
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Client
                  pagingRequest:
                    top: 10
                    skip: 0
                    includeCount: true
                  shouldUnhashData: false
              Order by:
                summary: Order by field (not applicable for if field was unhashed)
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Matter
                  order:
                    fieldName: PricedMetrics.Relativity_Storage_Review.BillableValue
                    direction: Desc
                  shouldUnhashData: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetMonthDetailsRequest'
            examples:
              All workspaces for an instance:
                summary: Metrics for all workspaces in the instance for a given date
                value:
                  dateKey: '202105'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Workspace
                  shouldUnhashData: false
              Single workspace for an instance:
                summary: Metrics for single workspace
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2354352
                  level: Workspace
                  shouldUnhashData: false
              Top 10 results:
                summary: Paging
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Client
                  pagingRequest:
                    top: 10
                    skip: 0
                    includeCount: true
                  shouldUnhashData: false
              Order by:
                summary: Order by field (not applicable for if field was unhashed)
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Matter
                  order:
                    fieldName: PricedMetrics.Relativity_Storage_Review.BillableValue
                    direction: Desc
                  shouldUnhashData: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetMonthDetailsResponse'
              example:
                results:
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 4001
                    name: Client 1
                    number: '1234'
                  matter:
                    artifactID: 3001
                    name: Matter 1
                    number: '1234'
                  workspace:
                    id: a2858a40-c24e-42d3-a6c1-28004f8b4c6f
                    artifactID: 2001
                    name: Sample workspace 1
                    activityStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 1000
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      reportedValue: 100
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 1000
                      amount:
                        value: 100000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      billableValue: 100
                      amount:
                        value: 2500
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 8001
                    name: Client 2
                    number: '1234'
                  matter:
                    artifactID: 7001
                    name: Matter 2
                    number: '1234'
                  workspace:
                    id: 87f653b8-eb1f-4281-a6d8-17f8632123c6
                    artifactID: 6001
                    name: Sample workspace 2
                    activityStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 200
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 200
                      amount:
                        value: 20000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                pagingResponse:
                  totalRecordCount: 2
                status: OK
            application/json:
              schema:
                $ref: '#/components/schemas/GetMonthDetailsResponse'
              example:
                results:
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 4001
                    name: Client 1
                    number: '1234'
                  matter:
                    artifactID: 3001
                    name: Matter 1
                    number: '1234'
                  workspace:
                    id: a2858a40-c24e-42d3-a6c1-28004f8b4c6f
                    artifactID: 2001
                    name: Sample workspace 1
                    activityStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 1000
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      reportedValue: 100
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 1000
                      amount:
                        value: 100000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      billableValue: 100
                      amount:
                        value: 2500
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 8001
                    name: Client 2
                    number: '1234'
                  matter:
                    artifactID: 7001
                    name: Matter 2
                    number: '1234'
                  workspace:
                    id: 87f653b8-eb1f-4281-a6d8-17f8632123c6
                    artifactID: 6001
                    name: Sample workspace 2
                    activityStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 200
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 200
                      amount:
                        value: 20000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                pagingResponse:
                  totalRecordCount: 2
                status: OK
            text/json:
              schema:
                $ref: '#/components/schemas/GetMonthDetailsResponse'
              example:
                results:
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 4001
                    name: Client 1
                    number: '1234'
                  matter:
                    artifactID: 3001
                    name: Matter 1
                    number: '1234'
                  workspace:
                    id: a2858a40-c24e-42d3-a6c1-28004f8b4c6f
                    artifactID: 2001
                    name: Sample workspace 1
                    activityStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 1000
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      reportedValue: 100
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 1000
                      amount:
                        value: 100000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      billableValue: 100
                      amount:
                        value: 2500
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 8001
                    name: Client 2
                    number: '1234'
                  matter:
                    artifactID: 7001
                    name: Matter 2
                    number: '1234'
                  workspace:
                    id: 87f653b8-eb1f-4281-a6d8-17f8632123c6
                    artifactID: 6001
                    name: Sample workspace 2
                    activityStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 200
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 200
                      amount:
                        value: 20000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                pagingResponse:
                  totalRecordCount: 2
                status: OK
      operationId: postApiV1BillingInsightsMonthDetails
      x-operation-id-source: derived
    servers:
    - url: https://billing-insights.api.relativity.one/billing-drilldown-api
      description: Production
    - url: https://services.vaus.relativityone.us/billing-drilldown-api/
      description: Government
  /api/v1/billing-insights/users-details:
    post:
      tags:
      - BillingInsights
      summary: Get a user list
      description: Get a user list with billing attributes for a given date
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsersDetailsRequest'
            examples:
              All users:
                summary: Get all users for a given instance and date
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Filter by:
                summary: Filtering
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  filters:
                  - fieldName: BillableStatus
                    operator: '='
                    value: Billable RelativityOne
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Order by email:
                summary: Order by
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  order:
                    fieldName: Email
                    direction: Desc
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Workspace users:
                summary: Users with access to a workspace
                value:
                  dateKey: '202105'
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2315123
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              All users with workspace artifactId info:
                summary: Get all users for a given instance and date with list of workspace artifactIds to which user has access to
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: true
                  shouldUnhashData: false
          text/json:
            schema:
              $ref: '#/components/schemas/GetUsersDetailsRequest'
            examples:
              All users:
                summary: Get all users for a given instance and date
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Filter by:
                summary: Filtering
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  filters:
                  - fieldName: BillableStatus
                    operator: '='
                    value: Billable RelativityOne
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Order by email:
                summary: Order by
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  order:
                    fieldName: Email
                    direction: Desc
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Workspace users:
                summary: Users with access to a workspace
                value:
                  dateKey: '202105'
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2315123
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              All users with workspace artifactId info:
                summary: Get all users for a given instance and date with list of workspace artifactIds to which user has access to
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: true
                  shouldUnhashData: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetUsersDetailsRequest'
            examples:
              All users:
                summary: Get all users for a given instance and date
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Filter by:
                summary: Filtering
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  filters:
                  - fieldName: BillableStatus
                    operator: '='
                    value: Billable RelativityOne
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Order by email:
                summary: Order by
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  order:
                    fieldName: Email
                    direction: Desc
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Workspace users:
                summary: Users with access to a workspace
                value:
                  dateKey: '202105'
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2315123
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              All users with workspace artifactId info:
                summary: Get all users for a given instance and date with list of workspace artifactIds to which user has access to
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: true
                  shouldUnhashData: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetUsersDetailsResponse'
              example:
                results:
                - email: jane.doe@relativity.com
                  userRole: Regular
                  billableStatus: Billable RelativityOne
                  lastLoginUtc: '2021-05-28T12:15:00'
                  userActivity: Active
                  userType: Internal
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 12345
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                  collectionTimeUtc: '2021-05-29T12:15:00'
                - email: john.doe@relativity.com
                  userRole: Administrator
                  billableStatus: Non-billable
                  lastLoginUtc: '2021-05-27T16:10:00'
                  userActivity: Active
                  userType: External
                  comment: Justice for Change
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 34215
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                    '54321':
                      clientArtifactId: 54321
                      matterArtifactId: 12345
                  collectionTimeUtc: '2021-05-29T12:15:00'
                pagingResponse:
                  totalRecordCount: 2
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersDetailsResponse'
              example:
                results:
                - email: jane.doe@relativity.com
                  userRole: Regular
                  billableStatus: Billable RelativityOne
                  lastLoginUtc: '2021-05-28T12:15:00'
                  userActivity: Active
                  userType: Internal
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 12345
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                  collectionTimeUtc: '2021-05-29T12:15:00'
                - email: john.doe@relativity.com
                  userRole: Administrator
                  billableStatus: Non-billable
                  lastLoginUtc: '2021-05-27T16:10:00'
                  userActivity: Active
                  userType: External
                  comment: Justice for Change
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 34215
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                    '54321':
                      clientArtifactId: 54321
                      matterArtifactId: 12345
                  collectionTimeUtc: '2021-05-29T12:15:00'
                pagingResponse:
                  totalRecordCount: 2
            text/json:
              schema:
                $ref: '#/components/schemas/GetUsersDetailsResponse'
              example:
                results:
                - email: jane.doe@relativity.com
                  userRole: Regular
                  billableStatus: Billable RelativityOne
                  lastLoginUtc: '2021-05-28T12:15:00'
                  userActivity: Active
                  userType: Internal
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 12345
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                  collectionTimeUtc: '2021-05-29T12:15:00'
                - email: john.doe@relativity.com
                  userRole: Administrator
                  billableStatus: Non-billable
                  lastLoginUtc: '2021-05-27T16:10:00'
                  userActivity: Active
                  userType: External
                  comment: Justice for Change
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 34215
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                    '54321':
                      clientArtifactId: 54321
                      matterArtifactId: 12345
                  collectionTimeUtc: '2021-05-29T12:15:00'
                pagingResponse:
                  totalRecordCount: 2
      operationId: postApiV1BillingInsightsUsersDetails
      x-operation-id-source: derived
    servers:
    - url: https://billing-insights.api.relativity.one/billing-drilldown-api
      description: Production
    - url: https://services.vaus.relativityone.us/billing-drilldown-api/
      description: Government
  /api/v2/billing-insights/hierarchy-lookup/{level}:
    get:
      tags:
      - BillingInsights
      summary: Get artifact ids
      description: Get artifact ids for workspace, matter, client, instance that can be used for filtering billing users and month details data.
      parameters:
      - name: level
        in: path
        description: The hierarchy level
        required: true
        schema:
          enum:
          - Workspace
          - Matter
          - Client
          - Instance
          - Contract
          type: string
      - name: instanceId
        in: query
        description: The instance ID
        schema:
          type: string
      - name: shouldUnhashData
        in: query
        description: Specifies if the response should include unhashed data. Default value is false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetHierarchyLookupResponse'
              example:
                results:
                - name: Workspace A
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1002
                - name: Workspace C
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1003
                - name: Workspace D
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1004
                - name: Workspace A
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1002
                - name: Workspace X
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1003
                - name: Workspace Y
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 2005
            application/json:
              schema:
                $ref: '#/components/schemas/GetHierarchyLookupResponse'
              example:
                results:
                - name: Workspace A
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1002
                - name: Workspace C
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1003
                - name: Workspace D
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1004
                - name: Workspace A
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1002
                - name: Workspace X
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1003
                - name: Workspace Y
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 2005
            text/json:
              schema:
                $ref: '#/components/schemas/GetHierarchyLookupResponse'
              example:
                results:
                - name: Workspace A
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1002
                - name: Workspace C
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1003
                - name: Workspace D
                  selector:
                    instanceID: a2c4e2da-8596-4196-a704-9cd202ce6d47
                    workspaceArtifactID: 1004
                - name: Workspace A
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1001
                - name: Workspace B
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1002
                - name: Workspace X
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 1003
                - name: Workspace Y
                  selector:
                    instanceID: 891b6552-6db5-459b-a983-1ed94225da52
                    workspaceArtifactID: 2005
      operationId: getApiV2BillingInsightsHierarchyLookupByLevel
      x-operation-id-source: derived
    servers:
    - url: https://billing-insights.api.relativity.one/billing-drilldown-api
      description: Production
    - url: https://services.vaus.relativityone.us/billing-drilldown-api/
      description: Government
  /api/v2/billing-insights/month-details:
    post:
      tags:
      - BillingInsights
      summary: Get monthly billing metrics
      description: Get monthly billing metrics at the specific level (Workspace, Matter, Client, Instance) for a given date. If the requested data does not exist then an empty list will be returned (e.g. instance didn't exist in a given month)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMonthDetailsRequest'
            examples:
              All workspaces for an instance:
                summary: Metrics for all workspaces in the instance for a given date
                value:
                  dateKey: '202105'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Workspace
                  shouldUnhashData: false
              Single workspace for an instance:
                summary: Metrics for single workspace
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2354352
                  level: Workspace
                  shouldUnhashData: false
              Top 10 results:
                summary: Paging
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Client
                  pagingRequest:
                    top: 10
                    skip: 0
                    includeCount: true
                  shouldUnhashData: false
              Order by:
                summary: Order by field (not applicable for if field was unhashed)
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Matter
                  order:
                    fieldName: PricedMetrics.Relativity_Storage_Review.BillableValue
                    direction: Desc
                  shouldUnhashData: false
          text/json:
            schema:
              $ref: '#/components/schemas/GetMonthDetailsRequest'
            examples:
              All workspaces for an instance:
                summary: Metrics for all workspaces in the instance for a given date
                value:
                  dateKey: '202105'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Workspace
                  shouldUnhashData: false
              Single workspace for an instance:
                summary: Metrics for single workspace
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2354352
                  level: Workspace
                  shouldUnhashData: false
              Top 10 results:
                summary: Paging
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Client
                  pagingRequest:
                    top: 10
                    skip: 0
                    includeCount: true
                  shouldUnhashData: false
              Order by:
                summary: Order by field (not applicable for if field was unhashed)
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Matter
                  order:
                    fieldName: PricedMetrics.Relativity_Storage_Review.BillableValue
                    direction: Desc
                  shouldUnhashData: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetMonthDetailsRequest'
            examples:
              All workspaces for an instance:
                summary: Metrics for all workspaces in the instance for a given date
                value:
                  dateKey: '202105'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Workspace
                  shouldUnhashData: false
              Single workspace for an instance:
                summary: Metrics for single workspace
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2354352
                  level: Workspace
                  shouldUnhashData: false
              Top 10 results:
                summary: Paging
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Client
                  pagingRequest:
                    top: 10
                    skip: 0
                    includeCount: true
                  shouldUnhashData: false
              Order by:
                summary: Order by field (not applicable for if field was unhashed)
                value:
                  dateKey: '202106'
                  metricKeys:
                  - Relativity_Storage_Review
                  - Relativity_Storage_Repository
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  level: Matter
                  order:
                    fieldName: PricedMetrics.Relativity_Storage_Review.BillableValue
                    direction: Desc
                  shouldUnhashData: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetMonthDetailsResponse'
              example:
                results:
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 4001
                    name: Client 1
                    number: '1234'
                  matter:
                    artifactID: 3001
                    name: Matter 1
                    number: '1234'
                  workspace:
                    id: a2858a40-c24e-42d3-a6c1-28004f8b4c6f
                    artifactID: 2001
                    name: Sample workspace 1
                    activityStatus: Active
                    workspaceStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 1000
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      reportedValue: 100
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 1000
                      amount:
                        value: 100000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      billableValue: 100
                      amount:
                        value: 2500
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 8001
                    name: Client 2
                    number: '1234'
                  matter:
                    artifactID: 7001
                    name: Matter 2
                    number: '1234'
                  workspace:
                    id: 87f653b8-eb1f-4281-a6d8-17f8632123c6
                    artifactID: 6001
                    name: Sample workspace 2
                    activityStatus: Active
                    workspaceStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 200
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 200
                      amount:
                        value: 20000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                pagingResponse:
                  totalRecordCount: 2
                status: OK
            application/json:
              schema:
                $ref: '#/components/schemas/GetMonthDetailsResponse'
              example:
                results:
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 4001
                    name: Client 1
                    number: '1234'
                  matter:
                    artifactID: 3001
                    name: Matter 1
                    number: '1234'
                  workspace:
                    id: a2858a40-c24e-42d3-a6c1-28004f8b4c6f
                    artifactID: 2001
                    name: Sample workspace 1
                    activityStatus: Active
                    workspaceStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 1000
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      reportedValue: 100
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 1000
                      amount:
                        value: 100000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      billableValue: 100
                      amount:
                        value: 2500
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 8001
                    name: Client 2
                    number: '1234'
                  matter:
                    artifactID: 7001
                    name: Matter 2
                    number: '1234'
                  workspace:
                    id: 87f653b8-eb1f-4281-a6d8-17f8632123c6
                    artifactID: 6001
                    name: Sample workspace 2
                    activityStatus: Active
                    workspaceStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 200
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 200
                      amount:
                        value: 20000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                pagingResponse:
                  totalRecordCount: 2
                status: OK
            text/json:
              schema:
                $ref: '#/components/schemas/GetMonthDetailsResponse'
              example:
                results:
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 4001
                    name: Client 1
                    number: '1234'
                  matter:
                    artifactID: 3001
                    name: Matter 1
                    number: '1234'
                  workspace:
                    id: a2858a40-c24e-42d3-a6c1-28004f8b4c6f
                    artifactID: 2001
                    name: Sample workspace 1
                    activityStatus: Active
                    workspaceStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 1000
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      reportedValue: 100
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 1000
                      amount:
                        value: 100000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                      subMetrics:
                        Relativity_Storage_Linked:
                          value: 1000
                    Relativity_Storage_Repository:
                      billableValue: 100
                      amount:
                        value: 2500
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 4000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 1000
                      comment: ''
                - contract:
                    id: 10060000003IO9HXXX
                    name: Sample contract
                  instance:
                    id: f53c069b-9706-4570-8f97-be6e8fdbe156
                    name: R1 - Sample
                    pricingVisibility: Visible
                  client:
                    artifactID: 8001
                    name: Client 2
                    number: '1234'
                  matter:
                    artifactID: 7001
                    name: Matter 2
                    number: '1234'
                  workspace:
                    id: 87f653b8-eb1f-4281-a6d8-17f8632123c6
                    artifactID: 6001
                    name: Sample workspace 2
                    activityStatus: Active
                    workspaceStatus: Active
                    billableStatus: Billable
                  usageMetrics:
                    Relativity_Storage_Review:
                      reportedValue: 200
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetrics:
                    Relativity_Storage_Review:
                      billableValue: 200
                      amount:
                        value: 20000
                        currency: USD
                      collectionTimeUtc: '2021-09-10T14:12:00'
                  pricedMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                  usageMetricsSubMetricsSummary:
                    Relativity_Storage_TextOnlyDocuments:
                      value: 8000
                      comment: ''
                    Relativity_Storage_Linked:
                      value: 0
                      comment: ''
                pagingResponse:
                  totalRecordCount: 2
                status: OK
      operationId: postApiV2BillingInsightsMonthDetails
      x-operation-id-source: derived
    servers:
    - url: https://billing-insights.api.relativity.one/billing-drilldown-api
      description: Production
    - url: https://services.vaus.relativityone.us/billing-drilldown-api/
      description: Government
  /api/v2/billing-insights/users-details:
    post:
      tags:
      - BillingInsights
      summary: Get a user list
      description: Get a user list with billing attributes for a given date
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsersDetailsRequest'
            examples:
              All users:
                summary: Get all users for a given instance and date
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Filter by:
                summary: Filtering
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  filters:
                  - fieldName: BillableStatus
                    operator: '='
                    value: Billable RelativityOne
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Order by email:
                summary: Order by
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  order:
                    fieldName: Email
                    direction: Desc
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Workspace users:
                summary: Users with access to a workspace
                value:
                  dateKey: '202105'
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2315123
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              All users with workspace artifactId info:
                summary: Get all users for a given instance and date with list of workspace artifactIds to which user has access to
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: true
                  shouldUnhashData: false
          text/json:
            schema:
              $ref: '#/components/schemas/GetUsersDetailsRequest'
            examples:
              All users:
                summary: Get all users for a given instance and date
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Filter by:
                summary: Filtering
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  filters:
                  - fieldName: BillableStatus
                    operator: '='
                    value: Billable RelativityOne
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Order by email:
                summary: Order by
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  order:
                    fieldName: Email
                    direction: Desc
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Workspace users:
                summary: Users with access to a workspace
                value:
                  dateKey: '202105'
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2315123
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              All users with workspace artifactId info:
                summary: Get all users for a given instance and date with list of workspace artifactIds to which user has access to
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: true
                  shouldUnhashData: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetUsersDetailsRequest'
            examples:
              All users:
                summary: Get all users for a given instance and date
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Filter by:
                summary: Filtering
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  filters:
                  - fieldName: BillableStatus
                    operator: '='
                    value: Billable RelativityOne
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Order by email:
                summary: Order by
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  order:
                    fieldName: Email
                    direction: Desc
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              Workspace users:
                summary: Users with access to a workspace
                value:
                  dateKey: '202105'
                  selectorLevel: Workspace
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                    workspaceArtifactID: 2315123
                  includeWorkspaceInfo: false
                  shouldUnhashData: false
              All users with workspace artifactId info:
                summary: Get all users for a given instance and date with list of workspace artifactIds to which user has access to
                value:
                  dateKey: '202105'
                  selectorLevel: Instance
                  itemSelectors:
                  - instanceID: f53c069b-9706-4570-8f97-be6e8fdbe156
                  includeWorkspaceInfo: true
                  shouldUnhashData: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetUsersDetailsResponse'
              example:
                results:
                - email: jane.doe@relativity.com
                  userRole: Regular
                  billableStatus: Billable RelativityOne
                  lastLoginUtc: '2021-05-28T12:15:00'
                  userActivity: Active
                  userType: Internal
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 12345
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                  collectionTimeUtc: '2021-05-29T12:15:00'
                - email: john.doe@relativity.com
                  userRole: Administrator
                  billableStatus: Non-billable
                  lastLoginUtc: '2021-05-27T16:10:00'
                  userActivity: Active
                  userType: External
                  comment: Justice for Change
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 34215
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                    '54321':
                      clientArtifactId: 54321
                      matterArtifactId: 12345
                  collectionTimeUtc: '2021-05-29T12:15:00'
                pagingResponse:
                  totalRecordCount: 2
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersDetailsResponse'
              example:
                results:
                - email: jane.doe@relativity.com
                  userRole: Regular
                  billableStatus: Billable RelativityOne
                  lastLoginUtc: '2021-05-28T12:15:00'
                  userActivity: Active
                  userType: Internal
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 12345
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                  collectionTimeUtc: '2021-05-29T12:15:00'
                - email: john.doe@relativity.com
                  userRole: Administrator
                  billableStatus: Non-billable
                  lastLoginUtc: '2021-05-27T16:10:00'
                  userActivity: Active
                  userType: External
                  comment: Justice for Change
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 34215
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                    '54321':
                      clientArtifactId: 54321
                      matterArtifactId: 12345
                  collectionTimeUtc: '2021-05-29T12:15:00'
                pagingResponse:
                  totalRecordCount: 2
            text/json:
              schema:
                $ref: '#/components/schemas/GetUsersDetailsResponse'
              example:
                results:
                - email: jane.doe@relativity.com
                  userRole: Regular
                  billableStatus: Billable RelativityOne
                  lastLoginUtc: '2021-05-28T12:15:00'
                  userActivity: Active
                  userType: Internal
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 12345
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                  collectionTimeUtc: '2021-05-29T12:15:00'
                - email: john.doe@relativity.com
                  userRole: Administrator
                  billableStatus: Non-billable
                  lastLoginUtc: '2021-05-27T16:10:00'
                  userActivity: Active
                  userType: External
                  comment: Justice for Change
                  instanceSpecificData:
                    f53c069b-9706-4570-8f97-be6e8fdbe156:
                      instance:
                        id: f53c069b-9706-4570-8f97-be6e8fdbe156
                        name: R1 - Sample
                        pricingVisibility: Visible
                      artifactID: 34215
                  workspaces:
                    '12345':
                      clientArtifactId: 12345
                      matterArtifactId: 54321
                    '54321':
                      clientArtifactId: 54321
                      matterArtifactId: 12345
                  collectionTimeUtc: '2021-05-29T12:15:00'
                pagingResponse:
                  totalRecordCount: 2
      operationId: postApiV2BillingInsightsUsersDetails
      x-operation-id-source: derived
    servers:
    - url: https://billing-insights.api.relativity.one/billing-drilldown-api
      description: Production
    - url: https://services.vaus.relativityone.us/billing-drilldown-api/
      description: Government
components:
  schemas:
    GetMonthDetailsResponse:
      type: object
      properties:
        results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GetMonthDetailsResponseItem'
        pagingResponse:
          $ref: '#/components/schemas/PagingResponse'
        status:
          enum:
          - OK
          - ContractExpired
          - ContractNotAvailable
          - ContractInPreparation
          - MissingDataForContract
          - FunctionalityDisabled
          - MissingMetricsGuid
          type: string
      additionalProperties: false
    Money:
      type: object
      properties:
        value:
          type: number
          description: Monetary value
          format: double
        currency:
          type:
          - string
          - 'null'
          description: ISO 4217 currency code
      additionalProperties: false
    GetUsersDetailsResponse:
      type: object
      properties:
        results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GetUsersDetailsResponseItem'
        pagingResponse:
          $ref: '#/components/schemas/PagingResponse'
      additionalProperties: false
    ClientMatterData:
      type: object
      properties:
        clientArtifactId:
          type: integer
          format: int32
        matterArtifactId:
          type: integer
          format: int32
      additionalProperties: false
    FieldFilter:
      type: object
      properties:
        fieldName:
          type:
          - string
          - 'null'
          description: Name of a field to which filtering will be applied
        operator:
          type:
          - string
          - 'null'
          description: 'Specifies a filtering operator

            List of possible values:

            - "="

            - "<"

            - ">"

            - "<="

            - ">="'
        value:
          type:
          - string
          - 'null'
          description: Specifies a filter value
      additionalProperties: false
      description: Field filter information
    SinglePricedMetric:
      type: object
      properties:
        collectionTimeUtc:
          type:
          - string
          - 'null'
          description: Date when the value was collected
          format: date-time
        metadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MetricMetadata'
        comment:
          type:
          - string
          - 'null'
          description: Additional information related to the current metric
        subMetrics:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SingleSubMetric'
        billableValue:
          type: number
          description: Value reported for the metric (billable usage)
          format: double
        amount:
          $ref: '#/components/schemas/Money'
        missingCostReason:
          type:
          - string
          - 'null'
          description: Reason for the missing cost if applicable.
          example: "\n            Cost breakdown not available at this level of the hierarchy\n            "
      additionalProperties: false
    GetHierarchyLookupResponseItem:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the item
        anonymization:
          type:
          - string
          - 'null'
          description: 'Flag that identifies if the name is hashed.

            If the value is _Hashed_ then value of a _Name_ field is replaced with hash

            List of possible values:

            - Hashed

            - None'
        anonymizedFields:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
          description: Collection that holds what type of data is hashed.
        selector:
          $ref: '#/components/schemas/HierarchyItemSelector'
      additionalProperties: false
    GetMonthDetailsResponseItem:
      type: object
      properties:
        contract:
          $ref: '#/components/schemas/Contract'
        instance:
          $ref: '#/components/schemas/Instance'
        client:
          $ref: '#/components/schemas/Client'
        matter:
          $ref: '#/components/schemas/Matter'
        workspace:
          $ref: '#/components/schemas/Workspace'
        usageMetrics:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SingleUsageMetric'
          description: 'Usage metric represents current usage of the data or in case if previous month is requested it will represent state from the last day of monthly report.

            Each property in this object is one of the _metricKeys_ specified in the request. If the usage metric does not exist for given item, it will be missing in the object.'
        pricedMetrics:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SinglePricedMetric'
          description: "Priced metric represents billable data on the date when peak of the usage occurred. \nEach property in this object is one of the _metricKeys_ specified in the request. If the priced metric does not exist for given item, it will be missing in the object."
        pricedMetricsSubMetricsSummary:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SingleSubMetric'
          description: 'Submetrics related to the priced metric.

            Each property in this object is one of the _subMetricsSummaryKeys_ specified in the request. If the submetric does not exist for priced item, it will have zero Value in the object.'
        usageMetricsSubMetricsSummary:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SingleSubMetric'
          description: 'Submetrics related to the usage metric.

            Each property in this object is one of the _subMetricsSummaryKeys_ specified in the request. If the submetric does not exist for usage item, it will have zero Value in the object.'
      additionalProperties: false
    HierarchyItemSelector:
      type: object
      properties:
        contractID:
          type:
          - string
          - 'null'
        instanceID:
          type:
          - string
          - 'null'
        clientArtifactID:
          type:
          - integer
          - 'null'
          format: int32
        matterArtifactID:
          type:
          - integer
          - 'null'
          format: int32
        workspaceArtifactID:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
      description: 'Specifies item to select.

        instanceID_ must be provided, additionally depending on the chosen level must be provided _clientArtifactID_, _matterArtifactID_ or _workspaceArtifactID'
    Contract:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: ID of the contract
        name:
          type:
          - string
          - 'null'
          description: Name of the contract
      additionalProperties: false
      description: Contract information
    PagingRequest:
      type: object
      properties:
        top:
          type:
          - integer
          - 'null'
          description: Return top N records
          format: int32
        skip:
          type:
          - integer
          - 'null'
          description: Exclude first N records
          format: int32
        maxItemCount:
          type:
          - integer
          - 'null'
          description: 'Specifies maximum number of records that should be returned from the API

            - If there are more records to fetch, the _continuationToken_ is returned in the _pagingResponse_'
          format: int32
        includeCount:
          type:
          - boolean
          - 'null'
          description: Specifies that _totalRecordCount_ should be included in the _pagingResponse_
        continuationToken:
          type:
          - string
          - 'null'
      additionalProperties: false
      description: 'Specifies paging options

        - _top_ and _skip_ values need to be either empty or populated. Specifying just a single value is considered a bad request.

        - if _top_ and _skip_ are specified and _maxItemCount_ is not specified, _continuationToken_ will not be returned.The API guarantees that all the records were populated, and there is no need to fetch additional records.

        - In all other cases, _continuationToken_ might be returned, indicating there are more records to fetch.'
    Workspace:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: ID of the workspace (GUID)
        artifactID:
          type: integer
          description: Artifact ID of the workspace
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name of the workspace
        activityStatus:
          type:
          - string
          - 'null'
          description: 'Workspace status. Could be one of the following:

            - Active

            - Inactive

            - Archived

            - Deleted'
        billableStatus:
          type:
          - string
          - 'null'
          description: 'Specifies billable status of the workspace

            List of possible values:

            - Billable

            - Non-billable

            - Billable Plaintiff'
        billableComment:
          type:
          - string
          - 'null'
          description: Additional information about billable status, populated when _billableStatus_ is _Non-billable_
        anonymization:
          type:
          - string
          - 'null'
          description: 'Flag that identifies if workspace data is hashed.

            If the value is _Hashed_ then value of a _Name_ field is replaced with _ArtifactID_ value.

            List of possible values:

            - Hashed

            - None'
        billableType:
          type:
          - string
          - 'null'
          description: 'Specifies billable type of the workspace

            List of possible values:

            - Repository

            - Review

            - Cold Storage'
        anonymizedFields:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
          description: Object that holds what type of workspace data is hashed.
        projectType:
          type:
          - string
          - 'null'
          description: Object that holds what type of use case the workspace has.
      additionalProperties: false
      description: Workspace information
    Instance:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Instance ID (GUID)
        name:
          type:
          - string
          - 'null'
          description: Instance name
        pricingVisibility:
          enum:
          - Visible
          - HiddenResoldInstance
          - HiddenFixedContract
          type: string
          description: 'Instance pricing visibility:

            - Visible : pricing details are visible

            - HiddenResoldInstance : pricing details are hidden due to resold of the instance

            - HiddenFixedContract : pricing details are hidden because of fixed contracts with zero rates'
      additionalProperties: false
      description: Instance information
    GetMonthDetailsRequest:
      type: object
      properties:
        dateKey:
          type:
          - string
          - 'null'
          description: 'Specifies the year and the month for which details should be returned. Format: YYYYMM.'
          example: 202209
        metricKeys:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'An array of metric keys for which the data should be returned. If no metric keys are provided, no metrics will be returned.

            List of possible values:

            - Relativity_Storage_Review

            - Relativity_Storage_Repository

            - Relativity_Storage_ColdStorage

            - Relativity_Users_RelOne

            - Relativity_Users_Server

            - Relativity_Users_NonBillable

            - Relativity_Storage_Staging

            - Relativity_Translate

            - Relativity_PI_Detect

            - Relativity_DB_Response

            - Relativity_Contracts_Document

            - aiR_for_Review

            - aiR_for_Privilege

            - aiR_for_CaseStrategy.AppInstallation

            - aiR_for_CaseStrategy.WorkspaceOneTimeFee

            - aiR_for_CaseStrategy.Document

            - FOIA_Request

            - FOIA_DisclosureCenter_Storage

            - FOIA_ReadingRoom_Storage'
        subMetricsSummaryKeys:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'An array of submetric keys for subMetricsSummary fields for which the data should be returned.

            If no submetric keys are provided, no submetrics will be returned under subMetricsSummary fields. Keep in mind that all submetrics under main metric keys (Review, Repo etc.) will be returned despite this parameter.

            List of possible values:

            - Relativity_Storage_TextOnlyDocuments

            - Relativity_Storage_Linked'
        selectorLevel:
          enum:
          - Workspace
          - Matter
          - Client
          - Instance
          - Contract
          type: string
          description: "Specifies the hierarchy level for which _itemSelectors_ should apply. \nThe _itemSelectors_ contract level is not supported."
        itemSelectors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HierarchyItemSelector'
          description: 'Allows to filter the results.

            An item selector uniquely identifies element in hierarchy. The following list specifies what property / properties should be set for each level:

            - Contract: _contractId_ [string]

            - Instance: _instanceId_[string]

[...]
